{% extends 'base.html.twig' %}


{% block body %}

    <div class="page-wrapper">

        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">


                        <div class="document-title">
                            <h1>Grid Version</h1>

                            <ul class="breadcrumb">
                                <li><a href="#">Superlist</a></li>
                                <li><a href="#">Listing</a></li>
                            </ul>
                        </div><!-- /.document-title -->



                        <form class="filter" method="post" action="?">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Keyword" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Location">
                                            <option>Bronx</option>
                                            <option>Brooklyn</option>
                                            <option>Manhattan</option>
                                            <option>Staten Island</option>
                                            <option>Queens</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Category">
                                            <option value="">Automotive</option>
                                            <option value="">Jobs</option>
                                            <option value="">Nightlife</option>
                                            <option value="">Services</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->

                            <hr>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="filter-actions">
                                        <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                                        <a href="#"><i class="fa fa-save"></i> Save Search</a>
                                    </div><!-- /.filter-actions -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Redefine Search Result</button>
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </form>


                        <h2 class="page-title">
                <!-- 1802 results matching your query --> <!-- On doit afficher le nombre de résultats obtenus sur cette page-->


                            <form method="get" action="?" class="filter-sort">
                                <div class="form-group">
                                    <select title="Sort by">
                                        <option name="price">Price</option>
                                        <option name="rating">Rating</option>
                                        <option name="title">Title</option>
                                    </select>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <select title="Order">
                                        <option name="ASC">Asc</option>
                                        <option name="DESC">Desc</option>
                                    </select>
                                </div><!-- /.form-group -->
                            </form>
                        </h2><!-- /.page-title -->

                        <div class="cards-simple-wrapper">
                            <div class="row">

                                {% for provider in providers %}

                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="card-simple" data-background-image="img/tmp/product-1.jpg">
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">
                                                    <h2><a href="listing-detail.html">{{ provider.name }}</a></h2><!-- on affiche le nom du prestataire-->
                                                    <div class="card-simple-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- /.card-rating -->

                                                    <div class="card-simple-actions">
                                                        <a href="#" class="fa fa-star-o"></a>
                                                        <a href="{{ path('provider_detail', {'id': provider.id}) }}" class="fa fa-search"></a>
                                                        <a href="#" class="fa fa-heart-o"></a>
                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->


                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                    </div><!-- /.col-* -->

                                {% endfor %}



                            </div><!-- /.row -->
                        </div><!-- /.cards-simple-wrapper -->


                        <!--<div class="pager"> ON VA CREER LA PAGINATION SI LE NOMBRE DE PRESTATAIRES EST TROP GRAND !!!!

                        <div class="pager">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">5</a></li>
                                <li class="active"><a>6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div><!-- /.pagination -->


                    </div><!-- /.content -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->


    </div><!-- /.page-wrapper -->

{% endblock %}
